<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>isp</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Internet_login1</display-name>
		<servlet-name>Internet_login1</servlet-name>
		<servlet-class>internet.Internet_login1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Internet_login1Servlet</display-name>
		<servlet-name>Internet_login1Servlet</servlet-name>
		<servlet-class>internet.Internet_login1Servlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SubscribeServlet</display-name>
		<servlet-name>SubscribeServlet</servlet-name>
		<servlet-class>internet.SubscribeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Internet_order1</display-name>
		<servlet-name>Internet_order1</servlet-name>
		<servlet-class>internet.Internet_order1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Feedback3Servlet</display-name>
		<servlet-name>Feedback3Servlet</servlet-name>
		<servlet-class>internet.Feedback3Servlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>blackberrycontroller</display-name>
		<servlet-name>blackberrycontroller</servlet-name>
		<servlet-class>com.phone.blackberrycontroller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>boldcontroller</display-name>
		<servlet-name>boldcontroller</servlet-name>
		<servlet-class>com.phone.boldcontroller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>buycontroller</display-name>
		<servlet-name>buycontroller</servlet-name>
		<servlet-class>com.phone.buycontroller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>cleancontroller</display-name>
		<servlet-name>cleancontroller</servlet-name>
		<servlet-class>com.phone.cleancontroller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>curvecontroller</display-name>
		<servlet-name>curvecontroller</servlet-name>
		<servlet-class>com.phone.curvecontroller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>deletecontoller</display-name>
		<servlet-name>deletecontoller</servlet-name>
		<servlet-class>com.phone.deletecontoller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>displaycontroller</display-name>
		<servlet-name>displaycontroller</servlet-name>
		<servlet-class>com.phone.displaycontroller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>feedbackcontroller</display-name>
		<servlet-name>feedbackcontroller</servlet-name>
		<servlet-class>com.phone.feedbackcontroller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>i4scontroller</display-name>
		<servlet-name>i4scontroller</servlet-name>
		<servlet-class>com.phone.i4scontroller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>i5controller</display-name>
		<servlet-name>i5controller</servlet-name>
		<servlet-class>com.phone.i5controller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>logcontroller</display-name>
		<servlet-name>logcontroller</servlet-name>
		<servlet-class>com.phone.logcontroller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>logoutcontroller</display-name>
		<servlet-name>logoutcontroller</servlet-name>
		<servlet-class>com.phone.logoutcontroller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>lumia610controller</display-name>
		<servlet-name>lumia610controller</servlet-name>
		<servlet-class>com.phone.lumia610controller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>lumia620controller</display-name>
		<servlet-name>lumia620controller</servlet-name>
		<servlet-class>com.phone.lumia620controller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>lumia710controller</display-name>
		<servlet-name>lumia710controller</servlet-name>
		<servlet-class>com.phone.lumia710controller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>lumia820controller</display-name>
		<servlet-name>lumia820controller</servlet-name>
		<servlet-class>com.phone.lumia820controller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>lumia900controller</display-name>
		<servlet-name>lumia900controller</servlet-name>
		<servlet-class>com.phone.lumia900controller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>lumia920controller</display-name>
		<servlet-name>lumia920controller</servlet-name>
		<servlet-class>com.phone.lumia920controller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ordercontroller</display-name>
		<servlet-name>ordercontroller</servlet-name>
		<servlet-class>com.phone.ordercontroller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>s3controller</display-name>
		<servlet-name>s3controller</servlet-name>
		<servlet-class>com.phone.s3controller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>sacecontroller</display-name>
		<servlet-name>sacecontroller</servlet-name>
		<servlet-class>com.phone.sacecontroller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>sadvancecontroller</display-name>
		<servlet-name>sadvancecontroller</servlet-name>
		<servlet-class>com.phone.sadvancecontroller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>sduoscontroller</display-name>
		<servlet-name>sduoscontroller</servlet-name>
		<servlet-class>com.phone.sduoscontroller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>sgalaxycontroller</display-name>
		<servlet-name>sgalaxycontroller</servlet-name>
		<servlet-class>com.phone.sgalaxycontroller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>sgrandcontroller</display-name>
		<servlet-name>sgrandcontroller</servlet-name>
		<servlet-class>com.phone.sgrandcontroller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>tourchcontroller</display-name>
		<servlet-name>tourchcontroller</servlet-name>
		<servlet-class>com.phone.tourchcontroller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>updatecontroller</display-name>
		<servlet-name>updatecontroller</servlet-name>
		<servlet-class>com.phone.updatecontroller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>xperiagocontroller</display-name>
		<servlet-name>xperiagocontroller</servlet-name>
		<servlet-class>com.phone.xperiagocontroller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>xperiajcontroller</display-name>
		<servlet-name>xperiajcontroller</servlet-name>
		<servlet-class>com.phone.xperiajcontroller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>xperiamirocontroller</display-name>
		<servlet-name>xperiamirocontroller</servlet-name>
		<servlet-class>com.phone.xperiamirocontroller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>xperianeocontroller</display-name>
		<servlet-name>xperianeocontroller</servlet-name>
		<servlet-class>com.phone.xperianeocontroller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>xperiascontroller</display-name>
		<servlet-name>xperiascontroller</servlet-name>
		<servlet-class>com.phone.xperiascontroller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>xperiazcontroller</display-name>
		<servlet-name>xperiazcontroller</servlet-name>
		<servlet-class>com.phone.xperiazcontroller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>deletecontroller</display-name>
		<servlet-name>deletecontroller</servlet-name>
		<servlet-class>com.phone.deletecontroller</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Internet_login1</servlet-name>
		<url-pattern>/Internet_login1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Internet_login1Servlet</servlet-name>
		<url-pattern>/Internet_login1Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SubscribeServlet</servlet-name>
		<url-pattern>/SubscribeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Internet_order1</servlet-name>
		<url-pattern>/Internet_order1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Feedback3Servlet</servlet-name>
		<url-pattern>/Feedback3Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>blackberrycontroller</servlet-name>
		<url-pattern>/blackberrycontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>boldcontroller</servlet-name>
		<url-pattern>/boldcontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>buycontroller</servlet-name>
		<url-pattern>/buycontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cleancontroller</servlet-name>
		<url-pattern>/cleancontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>curvecontroller</servlet-name>
		<url-pattern>/curvecontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deletecontoller</servlet-name>
		<url-pattern>/deletecontoller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>displaycontroller</servlet-name>
		<url-pattern>/displaycontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>feedbackcontroller</servlet-name>
		<url-pattern>/feedbackcontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>i4scontroller</servlet-name>
		<url-pattern>/i4scontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>i5controller</servlet-name>
		<url-pattern>/i5controller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logcontroller</servlet-name>
		<url-pattern>/logcontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logoutcontroller</servlet-name>
		<url-pattern>/logoutcontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>lumia610controller</servlet-name>
		<url-pattern>/lumia610controller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>lumia620controller</servlet-name>
		<url-pattern>/lumia620controller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>lumia710controller</servlet-name>
		<url-pattern>/lumia710controller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>lumia820controller</servlet-name>
		<url-pattern>/lumia820controller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>lumia900controller</servlet-name>
		<url-pattern>/lumia900controller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>lumia920controller</servlet-name>
		<url-pattern>/lumia920controller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ordercontroller</servlet-name>
		<url-pattern>/ordercontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>s3controller</servlet-name>
		<url-pattern>/s3controller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sacecontroller</servlet-name>
		<url-pattern>/sacecontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sadvancecontroller</servlet-name>
		<url-pattern>/sadvancecontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sduoscontroller</servlet-name>
		<url-pattern>/sduoscontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sgalaxycontroller</servlet-name>
		<url-pattern>/sgalaxycontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sgrandcontroller</servlet-name>
		<url-pattern>/sgrandcontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>tourchcontroller</servlet-name>
		<url-pattern>/tourchcontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>updatecontroller</servlet-name>
		<url-pattern>/updatecontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>xperiagocontroller</servlet-name>
		<url-pattern>/xperiagocontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>xperiajcontroller</servlet-name>
		<url-pattern>/xperiajcontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>xperiamirocontroller</servlet-name>
		<url-pattern>/xperiamirocontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>xperianeocontroller</servlet-name>
		<url-pattern>/xperianeocontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>xperiascontroller</servlet-name>
		<url-pattern>/xperiascontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>xperiazcontroller</servlet-name>
		<url-pattern>/xperiazcontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deletecontroller</servlet-name>
		<url-pattern>/deletecontroller</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
